<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="contact">
    <h2><span>C</span>ontact</h2>
    <h1>Lun-Ven  08h-17h :</h1>
<h3>Tel: 77 219 60 04  / 78 301 02 25 <br>
    78 372 53 22 / 33 821 00 22</h3>
<h5>email: nogaye.mbodj@unchk.edu.sn/ mamekany.cisse@unchk.edu.sn <br>
ndeyesene.ngom@unchk.edu.sn / forcen@gmail.com </h5> 

<header>
<h1>Forum de Discussion</h1>
</header>

<div class="container"  id="messageContainer">
<div class="message teacher">
<p>Message de l'enseignant : N'oublier pas de continuer l'exercice.</p>
<p class="info">Publié par Professeur 1 - 10 décembre 2023</p>
</div>

<div class="message student">
<p>Réponse de l'étudiant : Oui Mme Bien Recu.</p>
<p class="info">Publié par Étudiant 1 - 11 décembre 2023</p>
</div>

<div class="container" id="messageContainer">
  <!-- Utilisez *ngFor pour afficher chaque message -->
  <div *ngFor="let message of messages" class="message">
    <p>{{ message.content }}</p>
    <p class="info">Publié par {{ message.author }} - {{ message.date | date: 'dd MMMM yyyy' }}</p>

    <!-- Utilisez *ngFor pour afficher chaque réponse -->
    <div *ngFor="let reply of message.replies" class="message reply">
      <p>{{ reply.content }}</p>
      <p class="info">Publié par {{ reply.author }} - {{ reply.date | date: 'dd MMMM yyyy' }}</p>
    </div>
  </div>
</div>

<!-- Formulaire pour envoyer un nouveau message -->
<form id="messageForm" (submit)="sendMessage($event)">
  <textarea name="message" id="messageInput" [(ngModel)]="newMessage" placeholder="Écrivez votre message..." rows="4" required></textarea><br>
  <input type="submit" value="Envoyer">
</form>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contact</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <h6>@Copyright Force-N 2023</h6>
    </ion-title>
  </ion-toolbar>
</ion-footer>