<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="scrolling-text">
        <h3>Bienvenue sur notre plateforme d'apprentissage</h3>
    </div><br> 
      <div class="couleur">
        <h1>
          <span> A </span>propos de nous</h1> <br>
        <p>
          Nous sommes passionnés par l'apprentissage et  nous croyons fermement que chacun a le potentiel de développer de nouvelles compétences.
          Notre Formation en ligne est une plateforme d'apprentissage dédiée à fournir des ressources éducatives
          de haute qualité dans divers domaines. Que vous soyez un débutant ou un professionnel cherchant 
          à approfondir vos connaissances,notre site offre une gamme variée de cours et de tutoriels pour 
          répondre à vos besoins.
        </p>
  
        <div class="container">
          <img class="photo" src="assets/images/nogaye.jpg" alt="">
  <p>   
    En tant que  développeuse web, je mets à 
    disposition des étudiants ma passion et mon expertise <br>  pour leur permettre de 
     maîtriser les compétences essentielles du domaine. <br>
     Avec une approche pédagogique interactive et pratique, j'offre des cours qui couvrent <br>
    les fondamentaux du HTML, CSS, JavaScript et d'autres technologies pertinentes. <br>
  </p>
      
        </div>
  
        <div class="container">
          <img class="photo" src="assets/images/kany.jpg" alt="">
  <p>   
    Expert en logiciels de bureau, spécialisée dans l'utilisation et la 
    maîtrise des logiciels <br> de productivité tels que Microsoft Office (Word, 
    Excel, PowerPoint),<br> Google Workspace, ou d'autres outils similaires. Leur
    rôle consiste à maximiser <br> l'efficacité de ces logiciels pour améliorer les 
    processus de travail, <br> créer des documents de qualité, analyser des données et 
    présenter des informations de manière professionnelle.
  </p>
        </div>
  
      
      <div class="container">
        <img class="photo" src="assets/images/ndeya.jpg" alt="">
  <p>   
    Infographiste créatif avec une passion pour la conception visuelle, <br>
     spécialisé dans la création d'éléments graphiques percutants et innovants. <br>
      Expérience approfondie dans l'utilisation d'outils tels que <br>
    Adobe Creative Suite pour développer des concepts visuels, des illustrations et 
     des <br> mises en page engageantes.
  </p>
    </div>
      </div>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <h6>@Copyright Force-N 2023</h6>
    </ion-title>
  </ion-toolbar>
</ion-footer>
 
  